<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>RunBot</string>
    <key>CFBundleIdentifier</key>
    <string>io.github.run-bot-app</string>
    <key>CFBundleName</key>
    <string>RunBot</string>
    <key>CFBundleVersion</key>
    <string>10</string>
    <key>CFBundleShortVersionString</key>
    <string>0.7.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>runbot</string>
            </array>
            <key>CFBundleURLName</key>
            <string>io.github.run-bot-app.oauth</string>
        </dict>
    </array>
</dict>
</plist>
